.grid-container {
  overflow-x: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.user-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tr:hover {
  background-color: #ddd;
}

.action-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.action-button:hover {
  color: #007bff;
}

.add-user-button-container {
  margin-bottom: 20px; /* Espacio entre el botón y la tabla */
  float: left; /* Alinea el botón a la izquierda */
  margin-bottom: 10px; /* Espacio entre el botón y la tabla */
  margin-right: 10px; /* Espacio entre el botón y el borde izquierdo */
}